@import "tailwindcss";

/* Create CSS variable from localFont */
:root {
  --font-almarai: "Almarai", sans-serif;
}

/* Override Tailwind font-sans everywhere */
.font-sans,
.font-almarai {
  font-family: var(--font-almarai) !important;
}

/* Optional font smoothing */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
